Flask
Flask-SQLAlchemy
Flask-Login
tensorflow
keras
numpy
opencv-python-headless

pillow
pandas
reportlab
python-dateutil
Werkzeug
pyotp
qrcode
python-dotenv
beautifulsoup4

Flask-Migrate
pymysql
cryptography
gunicorn
google-cloud-storage
